html {
    font-size: 18px !important;
}

.section-nav {
    font-size: 50px !important;
}

#padding-25 {
    padding: 25px !important;
}

#about {
    padding: 50px !important;
}

#bigger ul a {
    font-size: 20px !important;
}

.naw-wrapper a {
    font-size: 50px !important;
}

.card .card-reveal {
    border: 1px solid rgb(145, 145, 145);
}

.card div ol li {
    font-size: 30px !important;
    margin-top: 10px !important;
}

#section-project {
    background-color: rgb(32, 31, 31) !important;
}

#footer-links {
    display: flex !important;
}

#footer-links li:not(:first-child) {
    margin-left: 30px;
}